.container {
  padding: 0.5rem;
}

.full-width-table {
  table-layout: fixed;
  width: 100%;
  #{"th"}.mat-column-actions {
    width: 150px;
  }
}

.filter {
  width: 100%;
  > .pull-right {
    right: calc(5rem - 100%);
    position: relative;
  }
}
