<form class="container" [formGroup]="infirmaryForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{editMode ? 'Update' : 'Create'}} User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="IdAnimal" formControlName="idAnimal">
              <mat-error *ngIf="infirmaryForm.controls['idAnimal'].hasError('required')">
                Id Animal is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Diagnosis" formControlName="diagnosis">
              <mat-error *ngIf="infirmaryForm.controls['diagnosis'].hasError('required')">
                Diagnosis is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="accent" type="button" (click)="goBack()">Go back</button>
      </mat-card-actions>
    </mat-card>
  </form>
  